// start course
#course {
  position: relative;
  .pipe {
    position: absolute;
    width: 1726px;
    height: 370px;
    background-color: #229c9c;
    top: 83px;
    left: -366px;
    @include border-radius(0, 250px, 250px, 0);
  }
  .row {
    .course {
      background-color: #fff;
      position: relative;
      border-bottom: 4px solid blue;
      cursor: pointer;
      flex-direction: column;
      @include section-devider(flex, 30%, 30%);
      @include border-radius(0, 0, 5px, 5px);
      @include margin-padding(0, 16px, 0, 16px);
      transition: box-shadow 0.5s ease;
      &:hover {
        box-shadow: 0 0 13px 0px rgba(95, 95, 95, 0.5);
      }
      &:hover .teacher img {
        top: -54px;
      }
      &:hover .teacher-name {
        width: 100%;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      }
      .status {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: $default-font-size - 4px;
        background: rgba(9, 58, 118, 0.9);
        color: #fff;
        @include margin-padding(2px, 6px, 2px, 6px, false);
        @include border-radius(5px, 5px, 5px, 5px);
      }
      .teacher img {
        position: absolute;
        top: -36px;
        right: 9px;
        width: 54px;
        transition: top 0.7s ease;
        z-index: -1;
        @include border-radius(50px, 50px, 50px, 50px);
      }
      .teacher-name {
        position: absolute;
        top: -30px;
        right: 80px;
        font-size: $default-font-size - 3px;
        z-index: -2;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: all 0.7s ease;
      }
      a {
        @include margin-padding(10px, 10px, 10px, 10px);
        font-size: $default-font-size + 1px;
        color: rgb(130, 130, 130);
      }
      .meta {
        display: flex;
        font-size: $default-font-size - 2px;
        @include margin-padding(0, 10px, 0, 10px);
        @include margin-padding(16px, 0, 12px, 0, false);
        border-top: 1px solid #efefef;
        span:nth-child(1) {
          @include margin-padding(0, 0, 0, auto);
          i {
            color: #45a1ff;
            @include margin-padding(0, 0, 0, 3px);
          }
        }
        span:nth-child(2) {
          @include margin-padding(0, 8px, 0, 8px, false);
          color: #45a1ff;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
// end course
