// start footer
#footer {
  @include margin-padding(80px, 0, 0, 0, false);
  background-color: #35373a;
  .container {
    .side-1 {
      @include section-devider(flex, 30%, 30%);
      @include flex(flex, center, flex-start);
      flex-direction: column;
      h5 {
        color: #fff;
        @include margin-padding(0, 0, 32px, 0);
      }
      ul {
        font-size: $default-font-size - 1px;
        @include margin-padding(0, 0, 40px, 0);
        li {
          color: #cacaca;
          @include margin-padding(0, 0, 18px, 0);
          white-space: nowrap;
          i {
            @include margin-padding(0, 0, 0, 12px);
          }
        }
      }
    }
    .side-2 {
      @include section-devider(flex, 30%, 30%);
      @include flex(flex, center, flex-start);
      ul {
        font-size: $default-font-size - 1px;
        @include margin-padding(0, 20px, 40px, 0);
        li {
          @include margin-padding(0, 0, 18px, 0);
          a {
            color: #cacaca;
            transition: color 0.5s ease;
            &:hover {
              color: yellow;
            }
          }
        }
      }
    }
    .side-3 {
      @include section-devider(flex, 30%, 30%);
      flex-direction: column;
      p {
        font-size: $default-font-size;
        color: yellow;
        @include margin-padding(0, 0, 26px, 0);
        width: 100%;
      }
      form {
        position: relative;
        .email {
          width: 100%;
          height: 25px;
          outline: none;
          padding: 20px;
          border: 0;
          outline: 0;
          @include border-radius(4px, 4px, 4px, 4px);
        }
        .submit {
          position: absolute;
          top: 9px;
          left: 10px;
          border: 0;
          background-color: transparent;
          outline: 0;
          cursor: pointer;
          transition: color 0.5s ease;
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
  .copy-right {
    background-color: #2b2d35;
    color: #cacaca;
    text-align: center;
    padding: 10px;
    font-size: $default-font-size - 2px;
  }
}
// end footer
