// start header
#header {
  header {
    width: 100%;
    @include margin-padding(100px, 0, 0, 0);
    @include flex(flex, space-between, flex-start);
    .right {
      @include section-devider(flex, 67%, 67%);
      position: relative;
      .gear-1 {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: $default-font-size + 24px;
        color: rgb(107, 107, 107);
        animation: gear-1 10s infinite linear;
      }
      @keyframes gear-1 {
        100% {
          transform: rotate(360deg);
        }
      }
      .gear-2 {
        position: absolute;
        color: rgb(107, 107, 107);
        animation: gear-2 10s infinite linear;
      }
      @keyframes gear-2 {
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .left {
      @include section-devider(flex, 33%, 33%);
      @include margin-padding(15%, 8%, 0, 0);
      h1 {
        white-space: nowrap;
        font-size: $default-font-size + 16px;
      }
      p {
        @include margin-padding(5px, 0px, 0px, 0px);
        text-align: center;
      }
    }
  }
}
// end header
