//start menu
#top-nav {
  .navbar {
    font-size: $default-font-size;
    height: 60px;
    @include flex(flex, space-between, center);
    ul {
      li {
        display: inline-block;
        @include margin-padding(0, 0, 0, 24px);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -4px;
          width: 0;
          height: 2px;
          background-color: $menu-link-color;
          transition: width 0.5s ease;
        }
        &:hover::after {
          width: 100%;
        }

        a {
          transition: color 0.5s ease;
        }

        &:hover a {
          color: $menu-link-color;
        }
      }
    }
    .social-icons {
      a {
        @include margin-padding(0, 16px, 0, 0, false);
        transition: color 0.5s ease;
        &:hover {
          color: $menu-link-color;
        }
      }
    }
  }
}
//end menu
