//start mixins
@mixin flex($flex: flex, $position-x: center, $position-y: center) {
  display: $flex;
  justify-content: $position-x;
  align-items: $position-y;
}

@mixin margin-padding($top, $right, $bottom, $left, $margin: true) {
  @if ($margin) {
    margin: $top $right $bottom $left;
  } @else {
    padding: $top $right $bottom $left;
  }
}

@mixin section-devider($flex: flex, $flex-basis: null, $max-width: null) {
  display: $flex;
  flex-basis: $flex-basis;
  max-width: $max-width;
}

@mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right) {
  border-radius: $top-left $top-right $bottom-left $bottom-right;
}
//end mixins
