// start path
.path {
  @include flex(flex, space-between, null);
  .right-side {
    @include section-devider(flex, 50%, 50%);
  }
  .left-side {
    @include section-devider(flex, 45%, 45%);
    .path-side {
      @include flex(flex, center, center);
      flex-direction: column;
      h2 {
        font-size: $default-font-size + 10px;
        margin-bottom: 34px;
        color: #46484d;
      }

      p {
        font-size: $default-font-size + 2px;
        color: #888;
        line-height: 42px;
      }
    }
  }
}
// end path
