//start resets
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir", sans-serif;
  direction: rtl;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgb(66, 58, 58);
}

li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  width: 100%;
  @include flex(flex, center, null);
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.mt-250 {
  margin-top: 250px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-200 {
  margin-top: 200px;
}
//end resets
