// start topic
#topic {
  position: relative;
  &::after,
  &::before {
    background-color: rgba(140, 124, 229, 0.08);
    content: "";
    position: absolute;
    width: 200px;
    height: 250px;
    bottom: 90px;
    left: -392px;
    transform: skewX(10deg);
    @include border-radius(0, 20px, 50px, 0);
  }
  &::after {
    bottom: 149px;
    left: -490px;
  }
  .topic-title {
    @include flex(flex, flex-start, null);
    span {
      border-right: 4px solid blue;
      padding: 25px;
      font : {
        weight: bold;
        size: $default-font-size + 4px;
      }
      @include margin-padding(0, 0, 45px, 0);
    }
  }
  .topic {
    @include flex(flex, space-between, null);
    @include margin-padding(0, 0, 20px, 0);
    .topic-card {
      @include section-devider(flex, 49%, 49%);
      border: 1px solid #efefef;
      @include border-radius(3px, 3px, 3px, 3px);
      overflow: hidden;
      .topic-img {
        @include section-devider(flex, 35%, 35%);
        overflow: hidden;
        position: relative;
      }
      .topic-details {
        @include section-devider(flex, 65%, 65%);
        flex-direction: column;
        @include margin-padding(15px, 22px, 22px, 22px);
        a {
          font-size: $default-font-size + 2px;
          color: blue;
          transition: color 0.5s ease;
          &:hover {
            color: rgb(104, 202, 247);
          }
        }
        .meta {
          margin-top: 15px;
          @include margin-padding(10px, 0, 0, 0);
          span {
            font-size: $default-font-size - 2px;
            @include margin-padding(10px, 0, 0, 0);
            color: #ccc;
          }
          p {
            @include margin-padding(10px, 0, 0, 10px);
            font-size: $default-font-size - 3px;
            color: #757575;
            text-align: justify;
            line-height: 22px;
          }
        }
      }
    }
  }
}
// end topic
