*,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Vazir", sans-serif;
  direction: rtl;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #423a3a;
}

li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.mt-250 {
  margin-top: 250px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-200 {
  margin-top: 200px;
}

#top-nav .navbar {
  font-size: 16px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-nav .navbar ul li {
  display: inline-block;
  margin: 0 0 0 24px;
  position: relative;
}

#top-nav .navbar ul li::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: blue;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

#top-nav .navbar ul li:hover::after {
  width: 100%;
}

#top-nav .navbar ul li a {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#top-nav .navbar ul li:hover a {
  color: blue;
}

#top-nav .navbar .social-icons a {
  padding: 0 16px 0 0;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#top-nav .navbar .social-icons a:hover {
  color: blue;
}

#header header {
  width: 100%;
  margin: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#header header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 67%;
      flex-basis: 67%;
  max-width: 67%;
  position: relative;
}

#header header .right .gear-1 {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
  color: #6b6b6b;
  -webkit-animation: gear-1 10s infinite linear;
          animation: gear-1 10s infinite linear;
}

@-webkit-keyframes gear-1 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes gear-1 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#header header .right .gear-2 {
  position: absolute;
  color: #6b6b6b;
  -webkit-animation: gear-2 10s infinite linear;
          animation: gear-2 10s infinite linear;
}

@-webkit-keyframes gear-2 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes gear-2 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#header header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  max-width: 33%;
  margin: 15% 8% 0 0;
}

#header header .left h1 {
  white-space: nowrap;
  font-size: 32px;
}

#header header .left p {
  margin: 5px 0px 0px 0px;
  text-align: center;
}

#course {
  position: relative;
}

#course .pipe {
  position: absolute;
  width: 1726px;
  height: 370px;
  background-color: #229c9c;
  top: 83px;
  left: -366px;
  border-radius: 0 250px 250px 0;
}

#course .row .course {
  background-color: #fff;
  position: relative;
  border-bottom: 4px solid blue;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  max-width: 30%;
  border-radius: 0 0 5px 5px;
  margin: 0 16px 0 16px;
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
}

#course .row .course:hover {
  -webkit-box-shadow: 0 0 13px 0px rgba(95, 95, 95, 0.5);
          box-shadow: 0 0 13px 0px rgba(95, 95, 95, 0.5);
}

#course .row .course:hover .teacher img {
  top: -54px;
}

#course .row .course:hover .teacher-name {
  width: 100%;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#course .row .course .status {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  background: rgba(9, 58, 118, 0.9);
  color: #fff;
  padding: 2px 6px 2px 6px;
  border-radius: 5px 5px 5px 5px;
}

#course .row .course .teacher img {
  position: absolute;
  top: -36px;
  right: 9px;
  width: 54px;
  -webkit-transition: top 0.7s ease;
  transition: top 0.7s ease;
  z-index: -1;
  border-radius: 50px 50px 50px 50px;
}

#course .row .course .teacher-name {
  position: absolute;
  top: -30px;
  right: 80px;
  font-size: 13px;
  z-index: -2;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#course .row .course a {
  margin: 10px 10px 10px 10px;
  font-size: 17px;
  color: #828282;
}

#course .row .course .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin: 0 10px 0 10px;
  padding: 16px 0 12px 0;
  border-top: 1px solid #efefef;
}

#course .row .course .meta span:nth-child(1) {
  margin: 0 0 0 auto;
}

#course .row .course .meta span:nth-child(1) i {
  color: #45a1ff;
  margin: 0 0 0 3px;
}

#course .row .course .meta span:nth-child(2) {
  padding: 0 8px 0 8px;
  color: #45a1ff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.path .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.path .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  max-width: 45%;
}

.path .left-side .path-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.path .left-side .path-side h2 {
  font-size: 26px;
  margin-bottom: 34px;
  color: #46484d;
}

.path .left-side .path-side p {
  font-size: 18px;
  color: #888;
  line-height: 42px;
}

#topic {
  position: relative;
}

#topic::after, #topic::before {
  background-color: rgba(140, 124, 229, 0.08);
  content: "";
  position: absolute;
  width: 200px;
  height: 250px;
  bottom: 90px;
  left: -392px;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  border-radius: 0 20px 50px 0;
}

#topic::after {
  bottom: 149px;
  left: -490px;
}

#topic .topic-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#topic .topic-title span {
  border-right: 4px solid blue;
  padding: 25px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 45px 0;
}

#topic .topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
}

#topic .topic .topic-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  max-width: 49%;
  border: 1px solid #efefef;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
}

#topic .topic .topic-card .topic-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  max-width: 35%;
  overflow: hidden;
  position: relative;
}

#topic .topic .topic-card .topic-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  max-width: 65%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 22px 22px 22px;
}

#topic .topic .topic-card .topic-details a {
  font-size: 18px;
  color: blue;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#topic .topic .topic-card .topic-details a:hover {
  color: #68caf7;
}

#topic .topic .topic-card .topic-details .meta {
  margin-top: 15px;
  margin: 10px 0 0 0;
}

#topic .topic .topic-card .topic-details .meta span {
  font-size: 14px;
  margin: 10px 0 0 0;
  color: #ccc;
}

#topic .topic .topic-card .topic-details .meta p {
  margin: 10px 0 0 10px;
  font-size: 13px;
  color: #757575;
  text-align: justify;
  line-height: 22px;
}

#footer {
  padding: 80px 0 0 0;
  background-color: #35373a;
}

#footer .container .side-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  max-width: 30%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .container .side-1 h5 {
  color: #fff;
  margin: 0 0 32px 0;
}

#footer .container .side-1 ul {
  font-size: 15px;
  margin: 0 0 40px 0;
}

#footer .container .side-1 ul li {
  color: #cacaca;
  margin: 0 0 18px 0;
  white-space: nowrap;
}

#footer .container .side-1 ul li i {
  margin: 0 0 0 12px;
}

#footer .container .side-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  max-width: 30%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#footer .container .side-2 ul {
  font-size: 15px;
  margin: 0 20px 40px 0;
}

#footer .container .side-2 ul li {
  margin: 0 0 18px 0;
}

#footer .container .side-2 ul li a {
  color: #cacaca;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#footer .container .side-2 ul li a:hover {
  color: yellow;
}

#footer .container .side-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  max-width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .container .side-3 p {
  font-size: 16px;
  color: yellow;
  margin: 0 0 26px 0;
  width: 100%;
}

#footer .container .side-3 form {
  position: relative;
}

#footer .container .side-3 form .email {
  width: 100%;
  height: 25px;
  outline: none;
  padding: 20px;
  border: 0;
  outline: 0;
  border-radius: 4px 4px 4px 4px;
}

#footer .container .side-3 form .submit {
  position: absolute;
  top: 9px;
  left: 10px;
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#footer .container .side-3 form .submit:hover {
  color: blue;
}

#footer .copy-right {
  background-color: #2b2d35;
  color: #cacaca;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */